/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* BODY SETTINGS */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    font-family: 'Poppins', sans-serif;
}

/* CARD CONTAINER */
.container {
    width: 380px;
    padding: 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0,0,0,0.15);
    animation: fadeIn 0.8s ease-in-out;
}

/* ANIMATION */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* HEADINGS */
h2 {
    text-align: center;
    color: #4f46e5;
    margin-bottom: 22px;
}

/* INPUT FIELD */
input {
    width: 100%;
    padding: 13px;
    margin: 8px 0;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-size: 15px;
    transition: 0.3s;
}

input:focus {
    border-color: #7c3aed;
    box-shadow: 0 0 8px rgba(124,58,237,0.3);
    outline: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #7c3aed, #4f46e5);
    color: white;
    font-size: 16px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgba(79,70,229,0.3);
}

/* LINK BELO
.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: #4f46e5;
    font-weight: 500;
}

